.mainNav {
  background-color: black;
  height: 100px;
  margin: 0;
  position: fixed;
  width: 100vw;
}

.imgLogo {
  position: absolute;
  left: 170px;
}

.mainNav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 170px;
  margin-top: 37px;
}

.mainNav li {
  margin-right: 30px;
  color: white;
  font-size: 17px;
  font-family: "Zen Dots", cursive;
}

.mainNav li:hover {
  color: greenyellow;
}

.logoLI {
  justify-content: flex-start;
}

.containerIp h4 {
  color: greenyellow;
}

@media (max-width: 800px) {
  .imgLogo {
    left: 40px;
  }
}

@media (max-width: 700px) {
  .mainNav li {
    font-size: 14px;
  }

  .mainNav ul {
    margin-right: 0;
  }
}
