.titleH1 {
  text-align: center;
}

.infoContainer {
  width: 60vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 80px;
}
